@import "../../scss/device";
@import "../../scss/theme";

.feature{
  width: 100%;
  .image-wrapper{
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  h2{
    margin: 0;
    padding: 1rem;
  }

  .content{
    padding: 1rem;
  }

  .description{
    margin: 0 0 1rem 0;
  }

  .cta{
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-decoration: none;
    background: $accent;
    color: #fff;
  }
}
@include device(tablet) {
  flex-direction: row;

  .feature{
    flex: 1;
    margin: .5rem;
  }
}
