@import "../../scss/theme";

header{
  padding: 1rem;
  display: flex;
  align-items: center;
  background: $background;
  color: #fff;
}

.title{
  flex: 1;
}

.brand{
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  small{
    opacity: 0.5;
  }
}

button{
  background: none;
  border: none;
  outline: none;
  color: $backgroundLight;
  font-size: 1.3rem;
}
